<div class="row">
    <div class="col-12">
        <h3>Radio</h3>
    </div>
    <div class="col-sm-12">
        <div class="sub-heading">Radio</div>
        <div class="sib-radio-icon">
            <input type="radio" checked="" name="rad1" id="rad1">
            <label for="rad1"><span class="icon-selected"></span></label>
        </div>

        <div class="sib-radio-icon">
            <input type="radio" name="rad1" id="rad2">
            <label for="rad2"><span class="icon-selected"></span></label>
        </div>

        <div class="sib-radio-icon">
            <input type="radio" checked="" name="rad1" id="rad3">
            <label for="rad3"><span class="icon-selected"></span></label>
        </div>

        <div class="sib-radio-icon sib-radio-icon--disabled">
            <input type="radio" name="rad1" id="rad4">
            <label for="rad4"><span class="icon-selected"></span></label>
        </div>
    </div>
</div>