.sib-faq-all{
    line-height:1.75;

    @media (max-width:$lg-breakpoint){
        margin-left:rem(20);
        overflow:hidden;
    }

    .sib-faq-all__title{
        padding:rem(85) 0 rem(60);
        color:$color-pg-1;
        font-family:$font-secondary-300-italic;
        font-size:rem(28);
        font-style:italic;
        line-height:1.29;
    }
    h2{
        color:$color-pg-1;
        font-family:$font-secondary-900-italic;
        font-size:rem(16);
        font-style:italic;
        line-height:1.38;
    }
}