<section class="sib-side-helper">
    <div class="sib-side-helper__image">
        <img src="{{ sideHelper.helpersImage.one ? sideHelper.helpersImage.one.url : '/images/bryan.jpg' }}" alt="">
    </div>
    <div class="sib-side-helper__text">
        <div class="sib-side-helper__text__init">{{ sideHelper.initText }}</div>
        <div class="sib-side-helper__text__full">{{ sideHelper.fullText }}</div>
    </div>
</section>