<div class="sib-accordion">
    <div class="sib-accordion__title">An accordion</div>
    <div class="sib-accordion__body">
        <div class="sib-accordion__item">
            <div class="sib-accordion__header"><span>Title of the Section 1</span><span class="icon-right"></span></div>
            <div class="sib-accordion__content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
        </div>
        <div class="sib-accordion__item">
            <div class="sib-accordion__header"><span>Title of the Section 2</span><span class="icon-right"></span></div>
            <div class="sib-accordion__content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
        </div>
        <div class="sib-accordion__item--active">
            <div class="sib-accordion__header sib-accordion__header"><span>Title of the Section 3</span><span class="icon-right"></span></div>
            <div class="sib-accordion__content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
        </div>
        <div class="sib-accordion__item">
            <div class="sib-accordion__header"><span>Title of the Section 4</span><span class="icon-right"></span></div>
            <div class="sib-accordion__content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
        </div>
        <div class="sib-accordion__item">
            <div class="sib-accordion__header"><span>Title of the Section 5</span><span class="icon-right"></span></div>
            <div class="sib-accordion__content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
        </div>
    </div>
</div>
