<div class="row">
    <div class="col-12">
        <h3>Tile Button</h3>
    </div>
    <div class="sib-colorpalette sib-colorpalette--primary"></div>
    <div class="sib-colorpalette sib-colorpalette--secondary"></div>
    <div class="sib-colorpalette sib-colorpalette--lipstick"></div>
    <div class="sib-colorpalette sib-colorpalette--white"></div>
    <div class="sib-colorpalette sib-colorpalette--white-two"></div>
    <div class="sib-colorpalette sib-colorpalette--brownish-grey"></div>
    <div class="sib-colorpalette sib-colorpalette--black"></div>



</div>