<div class="row">
    <div class="col-12">
        <h3>Icons - Light</h3>
    </div>
    <div class="col-12">
        <div class="clearfix mhl ptl">
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-right">

                </span>
                    <span class="mls"> icon-right</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e902" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe902;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-materials">

                </span>
                    <span class="mls"> icon-materials</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e900" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe900;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-natural-lighting">

                </span>
                    <span class="mls"> icon-natural-lighting</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e90a" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe90a;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-rainwater">

                </span>
                    <span class="mls"> icon-rainwater</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e901" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe901;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-roofing">

                </span>
                    <span class="mls"> icon-roofing</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e90b" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe90b;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-structural">

                </span>
                    <span class="mls"> icon-structural</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e90c" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe90c;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-accessories">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
                    <span class="mls"> icon-accessories</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e903" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe903;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-cladding">
                <span class="path1"></span><span class="path2"></span>
                </span>
                    <span class="mls"> icon-cladding</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e90d" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe90d;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-close">

                </span>
                    <span class="mls"> icon-close</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e90f" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe90f;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-message">

                </span>
                    <span class="mls"> icon-message</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e910" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe910;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-search">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
                    <span class="mls"> icon-search</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e906" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe906;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-summary">

                </span>
                    <span class="mls"> icon-summary</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e911" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe911;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-branch">

                </span>
                    <span class="mls"> icon-branch</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e912" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe912;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-delivery">

                </span>
                    <span class="mls"> icon-delivery</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e913" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe913;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-downloads">

                </span>
                    <span class="mls"> icon-downloads</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e909" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe909;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-drawings">

                </span>
                    <span class="mls"> icon-drawings</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e914" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe914;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-full">

                </span>
                    <span class="mls"> icon-full</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e915" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe915;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-manual">

                </span>
                    <span class="mls"> icon-manual</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e916" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe916;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-payment">

                </span>
                    <span class="mls"> icon-payment</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e917" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe917;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-empty">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
                    <span class="mls"> icon-empty</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e918" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe918;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-product-overview">

                </span>
                    <span class="mls"> icon-product-overview</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e91b" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe91b;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-arrows">

                </span>
                    <span class="mls"> icon-arrows</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e91c" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe91c;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
            <div class="glyph fs1">
                <div class="clearfix bshadow0 pbs">
                <span class="icon-selected">

                </span>
                    <span class="mls"> icon-selected</span>
                </div>
                <fieldset class="fs0 size1of1 clearfix hidden-false">
                    <input type="text" readonly value="e91d" class="unit size1of2" />
                    <input type="text" maxlength="1" readonly value="&#xe91d;" class="unitRight size1of2 talign-right" />
                </fieldset>

            </div>
        </div>
    </div>
</div>
