<div class="row">
    <div class="col-12">
        <h3>Misc Buttons</h3>
    </div>
    <div class="col-4">
        <div class="sub-heading">Static</div>
        <button class="button button--see-more">
            <div class="button--see-more__wrapper">
                <span class="icon-search"></span>
                Text Goes Here
            </div>
        </button>
    </div>
    <div class="col-4">
        <div class="sub-heading">Focus</div>
        <button class="button button--see-more">
            <div class="button--see-more__wrapper">
                <span class="icon-search"></span>
                Text Goes Here
            </div>
        </button>
    </div>
    <div class="col-4">
        <div class="sub-heading">Disabled</div>
        <button class="button button--see-more button--disabled">
            <div class="button--see-more__wrapper">
                <span class="icon-search"></span>
                Text Goes Here
            </div>
        </button>
    </div>
</div>