<nav class="col-12 col-sm-1  col-md-1  col-lg-2 navbar">
    <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
    </button>
    <div class="navbar__brand"><img src="images/styleguide/logo.svg" alt="SpaceInbetween Logo"/></div>
    <h4 class="navbar-account">Dimond Design</h4>
    <small class="navbar-update" >Updated 23/11/79 </small>
    <div class="navbar__wrapper">

        <ul class="navbar__list">
            <li><a class="navbar__item navbar__item--parent">Colour Palette</a></li>
            <li><a class="navbar__item navbar__item--parent">UI Elements</a></li>
            <li><a class="navbar__item navbar__item--parent">Font Book</a></li>
            <li><a class="navbar__item navbar__item--parent">Components</a></li>

        </ul>
    </div>
</nav>