<div class="row">
    <div class="col-12">
        <h3>Tile Button</h3>
    </div>
    <div class="col-4">
        <div class="sub-heading">Static</div>
        <button class="button button--tile">Button</button>
    </div>
    <div class="col-4">
        <div class="sub-heading">Focus</div>
        <button class="button button--tile">Button</button>
    </div>
    <div class="col-4">
        <div class="sub-heading"s>Disabled</div>
        <button class="button button--tile button--disabled">Button</button>
    </div>
</div>