<div class="row">
    <div class="col-8">
        <h1>h1. Heading text</h1>
        <h2>h2. Heading text</h2>
        <h3>h3. Heading text</h3>
        <h4>h4. Heading text</h4>
        <h5>h5. Heading text</h5>
        <h6>h6. Heading text</h6>
    </div>
    <div class="col-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare iaculis purus, eget gravida est lacinia at. Nam magna dolor, vestibulum ut consequat in, dictum a metus.</p>
    </div>

</div>

