<div class="row">
    <div class="col-12">
        <h3>Video Play</h3>
    </div>
    <div class="col-4">
        <div class="sub-heading">Static</div>
        <button class="button button--video"><span class="icon-search"></span></button>
    </div>
    <div class="col-4">
        <div class="sub-heading">Focus</div>
        <button class="button button--video"><span class="icon-search"></span></button>
    </div>
    <div class="col-4">
        <div class="sub-heading">Disabled</div>
        <button class="button button--video button--disabled"><span class="icon-search"></span></button>
    </div>
</div>