
<div class="sib-overlay sib-overlay__toggle" id="sib-overlay--contact-team">

    <div class="sib-modal__person">

        <div class="sib-modal__col">
            <div class="sib-modal__close sib-overlay__toggle" data-close><span class="icon-close"></span></div>
            <div class="sib-modal__person__img"></div>
            <div class="sib-modal__person__wrapper">
                <div class="sib-modal__person__title"></div>
                <div class="sib-modal__person__details">
                    <a class="sib-overlay-team__vcard" href="" target="_blank" ><span><img src="/web/images/icons/vcard.svg" /></span></a>
                    <a class="sib-overlay-team__linkedin" href="" target="_blank"> <span class="icon-linkedin"></span></a>
                    <a class="sib-overlay-team__number" href="">
                        <span class="icon-phone"></span>
                        <span class="sib-overlay-team__number--text"></span>
                    </a>
                    <span class="sib-overlay-team__location"></span>
                </div>
                <div class="sib-modal__person__content"></div>
            </div>

        </div>
    </div>

</div>
