<div class="sib-search__wrapper hide-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8">
                    <div class="sib-search__title"></div>
                    <div class="sib-search__results">

                    </div>

            </div>
            </div>
        </div>
    <div class="sib-search__read-more ">
        <button class="sib-search__more">
            <span>More results</span>
            <div class="icon-arrow-down"></div>
        </button>
    </div>
</div>