<div class="container sib-overlay-block">
    <div class="row">
        <div class="{{ gridClasses }}">
            <div class="sib-overlay-block__text background-{{ gridColor }}">
                {{ gridContent|raw }}
            </div>
        </div>
    </div>
</div>